:root {

    --clr-elements: hsl(209, 23%, 22%);
    --clr-bg: hsl(207, 26%, 17%);
    --clr-text: hsl(0, 0%, 100%);

    --fs-400: 1.4rem;
    --fs-600: 1.6rem;

    --body-padding: 1.6rem;
}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    font-size: var(--fs-400);
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: var(--clr-bg);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--clr-text);
}